/* Dark caption overlay for carousel */
.carousel-caption {
	position: relative;
	left: 0;
	top: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.carousel-controls {
	position: relative;
	left: 0;
	/* Caption 2 rem from top and bottom margins + 1.5 rem from 1.5x line-height on body */
	top: -3.25rem;
	z-index: 11;
	text-align: center;
	height: 3.5rem;
	margin-bottom: -3.5rem;
}

.carousel-control {
	margin-top: 1rem;
	height: 1rem;
}

#componentsCarousel {
	max-width: 500px;
	padding: 3px;
	border-radius: 3px;
}

figure {
	max-width: 500px;
}