<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prime - A colourful visualisation of the prime-sieve of Eratosthenes in C++/SDL2</title>
    <meta name="description" content="Description of a colourful visualisation of the prime-finding algorithm, the prime-sieve of Eratosthenes in C++/SDL2." />
    <link rel="canonical" href="https://dcol.nl/prime" />
  </head>
  <body>
    <!-- Header -->
    <div class="jumbotron jumbotron-fluid" id="banner">
        <div class="container">
          <h1>Prime</h1>
          <p class="lead text-muted">Eratosthenes in full-colour</p>
        </div>
    </div>
    <!-- Navigation -->
    {{menu}}
    <!-- Body -->
    <main class="container pb-5">
      <!-- Introduction -->
      <h2>Introduction</h2>
      <p>
        The sieve of Eratosthenes is an elegant algorithm used to find all prime
        numbers up to a certain limit. First described in a manuscript over 2000
        years ago and is effective today as it was then. After seeing a
        visualisation of pi I decided to try my hand at visualising prime
        numbers. Having done mostly back-end and command line work in C++ this
        was a good opportunity to learn about rendering graphics.
      </p>
      <!-- Algorithm -->
      <h2>The algorithm</h2>
      <blockquote class="blockquote">
        <p class="mb-0">
          When you have eliminated all which is impossible, then whatever
          remains, however improbable, must be the truth.
        </p>
        <footer class="blockquote-footer">Sherlock Holmes</footer>
      </blockquote>
      <p>
        Since a prime number is any natural number that is only divisible by one
        and itself, enumerating over the multiples of all numbers and marking
        them leaves only prime numbers.
      </p>
      <p>
        <span class="text-muted">Example:</span><br>
        If we'd want to find all the primes under n we would:
        <ul>
          <li>
            Start at two and cross out every multiple of 2: 4, 6, 8... up to n.
          </li>
          <li>
            Find the next number that hasn't been crossed out and mark it as
            prime: 3.
          </li>
          <li>Cross out all of multiples of this number: 3, 6, 9... up to n.</li>
          <li>Find the next number not crossed out: 7.</li>
          <li>Repeat.</li>
          </ul>
      </p>
      <!-- Graphics -->
      <h2>Graphics</h2>
      <p>
        Learning about rendering to the screen was one of the main goals of this
        project. After some research I decided that
        <a href="https://www.libsdl.org" target="_blank">SDL2</a> was the way
        forward. With some help form teh amazing articles at
        <a href="https://lazyfoo.net/tutorials/SDL/" target="_blank">Lazy Foo</a>
        I created a wrapper around the framework allowing me to render to the
        screen.
      </p>
      <!-- Visualisation -->
      <h2>The Visualisation.</h2>
      <p>
        To visualise the algorithm in an artistic manner I decided to plot every
        number in a spiral as a series of dots, starting at the number 2 and
        spiralling outwards. Every dot has a hue according to it's place on
        the HSV colour wheel. The saturation of each dot is determined by how
        many times it has been passed by the sieving algorithm, essentially
        signalling it's "un-primeness". To achieve this, the program actually
        iterates every number it encounters, even ones having been marked
        before, and renders the spiral every step.
        To visualise the prime numbers, the hue is rotated by 180 degrees to the
        colour composite of the area and the saturation increased to the
        maximum.
        Keyboard controls allow the user to pause and restart the animation and
        altering the step-size for the hue, and the number of degrees between
        dots.
      </p>
      <figure class="figure">
        <video
          class="embed-responsive embed-responsive-1by1"
          poster="../../assets/img/prime/prime_500.png"
          alt="Output of the Prime program. A visualisation of the prime sieve algorithm"
          controls
        >
          <source src="../../assets/img/prime/prime.webm" type="video/webm">
          <source src="../../assets/img/prime/prime.mp4" type="video/mp4">
          Your browser does not support video.
        </video>
        <figcaption class="figure-caption">
          Output of the Prime program.
        </figcaption>
      </figure>
    </main>
    <!-- Footer -->
    {{footer}}
  </body>
</html>