/* open-sans-regular - latin */
@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("./../assets/fonts/open-sans-v17-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
        url("./../assets/fonts/open-sans-v17-latin-regular.woff") format("woff"), /* Modern Browsers */
        url("./../assets/fonts/open-sans-v17-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
    font-family: 'OpenSans', sans-serif !important;
}

video {
    max-width: 500px;
}

#banner {
    background-image: url("../assets/img/banner.jpg");
    background-size: cover;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 2rem;
}

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    padding-bottom: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: var(--light);
    overflow: hidden;
}


a.disabled {
    pointer-events: none;
    cursor: default;
}

@import "~bootstrap/scss/bootstrap";
