<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DCol - Tinkering and thoughts of a Dutchman in England</title>
    <meta name="description" content="Exploring the borders of programming, mathematics, electronics, mechanics and art." />
    <link rel="canonical" href="https://dcol.nl" />
  </head>
  <body>
    <main>
      <!-- Header -->
      <div class="jumbotron jumbotron-fluid" id="banner">
          <div class="container">
              <h1>DCol</h1>
              <p class="lead text-muted">Tinkering and thoughts of a Dutchman in England</p>
          </div>
      </div>
      <!-- Navigation -->
      {{menu}}
      <!-- Body -->
      <main class="container pb-5">
        <!-- Introduction -->
        <h2>Introduction</h2>
        <p>
          Welcome to my page. Like in the old days of the internet it is simply
          dedicated to my interests and personal projects. In my professional
          life I work as a developer for a mutual society in the Cotswolds. In
          my free time I like exploring the borders of programming, mathematics,
          electronics, mechanics and art.
        </p>

        <div class="alert alert-primary" role="alert">
          I am in the early stages of building this website. Please bear with me
          as I add content. I will write articles on the projects listed below,
          and work on making all sources for these available after completing
          the articles.
        </div>

        <h2>Projects</h2>
        <div class="row">
          <div class="col">
            <div class="card-columns projectDeck">
              <!-- Mandel -->
              <div class="card projectCard">
                <a href="/mandel">
                  <img class="card-img-top" src="../../assets/img/mandel/mandel_358.png" alt="A render of the Mandelbrot set.">
                </a>
                <div class="card-body">
                  <h5 class="card-title">Mandel</h5>
                  <p class="card-text">Infinite fractal mathematics.</p>
                  <a href="/mandel" class="btn btn-primary">Project page</a>
                </div>
              </div>
              <!-- Prime -->
              <div class="card projectCard">
                <a href="/prime">
                  <img class="card-img-top" src="../../assets/img/prime/prime_358.png" alt="A screenshot of the prime program.">
                </a>
                <div class="card-body">
                  <h5 class="card-title">Prime</h5>
                  <p class="card-text">Eratosthenes in full-colour.</p>
                  <a href="/prime" class="btn btn-primary">Project page</a>
                </div>
              </div>
              <!-- Woud -->
              <div class="card projectCard">
                <a href="/woud">
                  <img class="card-img-top" src="../../assets/img/woud/woud_358.png" alt="A screenshot of the woud simulation.">
                </a>
                <div class="card-body">
                  <h5 class="card-title">Woud</h5>
                  <p class="card-text">A cellular automata forest.</p>
                  <a href="/woud" class="btn btn-primary">Project page</a>
                </div>
              </div>
              <!-- Atlas -->
              <div class="card projectCard">
                <a href="/atlas">
                  <img class="card-img-top" src="../../assets/img/atlas/assembly_358.jpg" alt="A photo of the Atlas table assembly.">
                </a>
                <div class="card-body">
                  <h5 class="card-title">Atlas</h5>
                  <p class="card-text">Drawing a line in the sand.</p>
                  <a href="/atlas" class="btn btn-primary">Project page</a>
                </div>
              </div>
              <!-- Candlebear -->
              <div class="card projectCard">
                <!-- !!!!! ADD HREF WHEN DONE !!!!!-->
                <img class="card-img-top" src="../../assets/img/candlebear/candlebear_358.jpg" alt="A photo of the Candlebear alarm clock.">
                <div class="card-body">
                  <h5 class="card-title">Candlebear</h5>
                  <p class="card-text">A smart alarm clock.</p>
                  <a href="/candlebear" class="btn btn-warning disabled" rel="nofollow">Coming soon</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      {{footer}}
    </div>
  </body>
</html>