<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
		<a class="nav-item nav-link {{homeactive}}" href="/">Home <span class="sr-only">(current)</span></a>
		<div class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle {{projectsactive}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Projects
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/mandel">Mandel</a>
			<a class="dropdown-item" href="/prime">Prime</a>
			<a class="dropdown-item" href="/woud">Woud</a>
			<a class="dropdown-item" href="/atlas">Atlas</a>
			<a class="dropdown-item disabled" href="/candlebear" disabled rel="nofollow">Candlebear</a>
		  </div>
		</div>
	  </div>
	</div>
</nav>