<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Candlebear - A smart alarm clock using python, a Raspberry-pi Zero and a 3D-printer </title>
    <meta name="description" content="Description of a smart alarm clock using python, a Raspberry-pi Zero and a 3D-printer." />
    <link rel="canonical" href="https://dcol.nl/candlebear" />
  </head>
  <body>
    <!-- Header -->
    <div class="jumbotron jumbotron-fluid" id="banner">
        <div class="container">
          <h1>Candlebear</h1>
          <p class="lead text-muted">A smart alarm clock</p>
        </div>
    </div>
    <!-- Navigation -->
    {{menu}}
    <!-- Body -->
    <main class="container pb-5">
      <h2>Introduction</h2>
      <p>
        In my quest to learn more about electronics I decided to build a simple
        "smart" alarm clock based on a raspberry pi zero W.
      </p>
    </main>
    <!-- Footer -->
    {{footer}}
  </body>
</html>